<!DOCTYPE html>
<html lang="en">
<!-- Head links -->

<head>
    <title>nHub Intern Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link and Script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> --}}

    <link rel="stylesheet" href="/./cssx/style.css">
</head>


<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">User Dashboard</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/user/dashboard">Home</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#blogPost">Blog Post</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#exampleModal">Place a Request</a></li>
                    <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {{#if success_messages}}
        <div class="alert alert-success alert-dismissible  show mt-2 auto-hide" role="alert">
            <strong>{{success_messages}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        {{/if}}
    
        {{#if error_messages}}
        <div class="alert alert-danger alert-dismissible  show mt-2 auto-hide" role="alert">
            <strong>{{error_messages}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        {{/if}}
    
    </div>




    <!-- modal small -->
    <div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">Update Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Select An Image And Click Submit</strong>
    
                    </p>
                    <form action="/user/uploadImage/{{user._id}}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="profilePic" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal small -->



            {{!-- modal-form --}}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/user/internExeat/{{user._id}}" method="post">
            
                                
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">From Date</label>
                                    <input type="date" class="form-control" name="fromDate" id="recipient-name">
                                </div>


                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">To Date</label>
                                    <input type="date" class="form-control" name="toDate" id="recipient-name">
                                </div>

                                {{!-- {{user}} --}}
                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">Message:</label>
                                    <textarea class="form-control" name="message" id="message-text"></textarea>
                                </div>
            
            
            
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
            
                    </div>
                </div>
            </div>
            
            {{!-- modal-form closing--}}


            {{!--blog post modal-form --}}
            <div class="modal fade" id="blogPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/user/blogPost/{{user._id}}" method="post">
            
                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">Post</label>
                                    <textarea class="form-control" name="blogPost" id="message-text"></textarea>
                                </div>
            
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
            
                    </div>
                </div>
            </div>
            
            {{!-- modal-form closing--}}