<!-- Profile Display -->
<div class="container text-center">
    <div class="row content">
        <div class="col-sm-4 sidenav">
            <!-- Their side nav and a preview card of their profile appears here -->
            <div class="card">
                <!-- profile link appears here -->
                <img src="{{user.profilePicture}}" class="card-img-top" alt="Profile Picture">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark btn-lg btn-block" data-toggle="modal" data-target="#smallmodal">UPDATE
                        PROFILE PICTURE</button>
                    <!-- intern name appears here -->
                    <h2 class="card-title">{{user.firstName}}</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading active" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#schoolName"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        School Name</a>
                                </h4>
                            </div>
                            <!-- fetch for school name -->
                            <div id="schoolName" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">{{user.institution}}</div>
                            </div>
                        </div>
                        <!-- fetch for school name ends here -->

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#department" aria-expanded="false" aria-controls="collapseTwo">
                                        Department
                                    </a>
                                </h4>
                            </div>
                            <!-- fetch for department -->
                            <div id="department" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">{{user.department}}</div>
                            </div>
                        </div>
                        <!-- fetch for department ends here -->

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#level" aria-expanded="false" aria-controls="collapseThree">
                                        Start Date
                                    </a>
                                </h4>
                            </div>
                            <!-- Fetch for levels -->
                            <div id="level" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">{{user.startingDate}}
                                </div>
                            </div>
                        </div>
                        <!-- Fetch for levels ends here-->

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#endDate" aria-expanded="false" aria-controls="collapseThree">
                                        End Date
                                    </a>
                                </h4>
                            </div>
                            <div id="endDate" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">{{user.endingDate}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#endDate"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        Project Topics
                                    </a>
                                </h4>
                            </div>
                            <div id="endDate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                {{!-- {{#each user}} --}}
                                <div class="panel-body">{{user.projectTopic}}</div>
                                {{!-- {{/each}} --}}
                                
                            </div>
                        </div>
                    </div>
                </div>
{{!-- {{topic}}{{topic}} --}}
            </div>
        </div>